
*.log
Saved/AutoScreenshot.png
/Saved/Config/CrashReportClient
/Saved/Autosaves
Saved/Telemetry/Telemetry.json
Saved/Config/WindowsEditor/SourceControlSettings.ini
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
